---
http_interactions:
- request:
    method: get
    uri: http://www.jayzheng.com/sb_magento/api/rest/products/5/images/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="1c5669e2a3114edf8cc73573c3b71010", oauth_nonce="aHcmVK4zI6UuyKUkd9YPOEMDfq6II7mLCMRfjc2XY",
        oauth_signature="mG3wci1MAMNDaf92PcYJTSZNmM8%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1404184718", oauth_token="881acaefa956bc82630c1d91b1e3a126",
        oauth_version="1.0"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"messages":{"error":[{"code":404,"message":"Product image not found"}]}}'
  recorded_at: Tue, 01 Jul 2014 03:18:40 GMT
recorded_with: VCR 2.5.0
